NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=YOUR_MEDUSA_PUBLISHABLE_KEY
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_BASE_URL=http://localhost:8000
NEXT_PUBLIC_DEFAULT_REGION=in
NEXT_PUBLIC_DEMO_MODE=false

NEXT_PUBLIC_SHOP_NAME=Swami Om Enterprises
NEXT_PUBLIC_SHOP_DESCRIPTION=Swami Om Enterprises Online Store

# Local development: use test key. Production: use NEXT_PUBLIC_RAZORPAY_KEY_ID
NEXT_PUBLIC_RAZORPAY_TEST_KEY_ID=
NEXT_PUBLIC_RAZORPAY_KEY_ID=

NEXT_PUBLIC_CDN_SPACE_DOMAIN=
NEXT_PUBLIC_SPACE_DOMAIN=
NEXT_PUBLIC_SPACE_ENDPOINT=

MEDUSA_ADMIN_BACKEND_URL=http://localhost:9000