# Server environment
NODE_ENV=
BACKEND_URL=

# Core secrets
JWT_SECRET=
COOKIE_SECRET=

# Database & Redis
DATABASE_URL=
REDIS_URL=

# CORS
STORE_CORS=
ADMIN_CORS=
AUTH_CORS=

# Razorpay Configuration (Local / Test)
RAZORPAY_TEST_KEY_ID=
RAZORPAY_TEST_KEY_SECRET=
RAZORPAY_TEST_ACCOUNT=
RAZORPAY_TEST_AUTO_EXPIRY_PERIOD=
RAZORPAY_TEST_MANUAL_EXPIRY_PERIOD=
RAZORPAY_TEST_WEBHOOK_SECRET=

# Razorpay Configuration (Production / Live)
RAZORPAY_ID=
RAZORPAY_SECRET=
RAZORPAY_ACCOUNT=
RAZORPAY_AUTO_EXPIRY_PERIOD=
RAZORPAY_MANUAL_EXPIRY_PERIOD=
RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_MODE=
RAZORPAY_AUTO_CAPTURE=
